#top {
	position: relative;
	background-color: #036fab;
	color: white;
	padding: 5px;
	margin: 0px 0px 1px 0px;
	height: 50px;
}

#bottom {
	text-align: center;
	position: relative;
	background-color: #c2dfef;
	padding: 5px;
	margin: 1px 0px 0px 0px;
	height: 40px;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.center_content {
	position: relative;
	background-color: #fff;
	padding: 5px;
	margin-top: 1px;
	min-height: 90px;
}

.left_content {
	background-color: #dddddd;
	padding: 5px;
	margin-left: 170px;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#top a:link:hover, #top a:visited:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

#conteiner {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.tablaF table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.tablaF table td, .tablaF table th {
	padding: 5px 6px;
}

.tablaF table thead th {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #DBDBDB;
}

.tablaF table tbody td {
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #DBDBDB;
	color: #000000;
}

/* Tabla dialog */
.tablaDlg table tbody td {
	font-size: 10px;
	font-weight: normal;
	border: 1px solid #DBDBDB;
	color: #000000;
}

.tablaDlg table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.tablaDlg table tbody {
	margin: 0;
	padding: 0;
}

.dlgTabla {
	margin: 0;
	padding: 0;
	border: none;
}

.dlgTabla table {
	margin: 0;
	padding: 0;
	border: none;
}

.dlgTabla table tbody {
	margin: 0;
	padding: 0;
	border: none;
}

.tablaDlg table td, .tablaDlg table th {
	padding: 4px 12px;
}

.tablaDlg table thead th {
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #DBDBDB;
}

/* .panelgrid > tr td, .panelgrid > tr{ */
/*    border-style: none !important */
/* /*    border: none !important; */
* /
	/*  } */ 
 

.ui-panelgrid>*>tr, .ui-panelgrid>*>tr>td.ui-panelgrid-cell {
	border: none;
}

table, table tr, table td {
	border: none !important;
}

/* .ui-widget-content { */
/* border: none; */
/* } */
.ui-panelgrid-content {
	border: none;
}

.ui-dialog-titlebar .ui-widget-header {
	text-align: center;
}

/* #idBtnDescarga { */
/*  position: relative; */
/*  top: -880px; */
/*  left: 20px; */
/*   } */

/* .ui-dialog.ui-widget-content { */
/*      background-image: none; */
/*      background-color: red; */
/* } */

/* fin */

/* .ui-panel-title{ */
/*              vertical-align: middle !important; */
/* } */

/* .customDialog { */
/*     background: #f4fff4; */
/* } */

/* .ui-dialog.customDialog .ui-dialog-content { */
/*     padding: 0; */
/*     margin: 0px 0px; */
/* } */
/* .ui-widget-header { */
/*     background: #ff0080; */
/*     color: black; */
/*     box-shadow: none; */
/* } */