#bottom {
    background-color: honeydew;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    position: relative;
}

#contenedor {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    margin: 0 auto;	/* esto hace que el contenedor se centre verticalmente */
    padding: 2px;
    text-align: left; /* debemos colocarlo sino todo el texto se centra por heredar text-align de body*/
    width: 960px; /* este será el ancho por defecto, lo heredarán encabezado, y pie */
}

#top {
    background-color: #036fab;
    color: white;
    padding: 0px;
    position: relative;
}

.center_content {
    height: 462px;
    padding: 0px;
}

#tooplate_header {
    background: url(../images/tooplate_header1.jpg) no-repeat;
    height: 111px;
    margin: 0 auto;
    padding: 0 40px;
}

#tooplate_middle {
    background: url(../images/tooplate_middle.jpg) no-repeat;
    clear: both;
    height: 30px;
    margin: 0 auto;
    padding: 20px 40px;
}

#tooplate_main {
    background: url(../images/tooplate_main.jpg) no-repeat top;
    clear: both;
    height: 330px;
    margin: 0 auto;
    padding: 10px 40px 0;
}

#titulo{
    float: left;
    width: 960px;
    margin-top: 3%;
    color: #ff9041
}